img{
    width: 100%;
    display: block;
}

body{
    margin: 0%;
    padding: 0% 0%;
    background-color: #F2F2F2;
}


/** -------------------- DESKTOP VIEW START -------------------- */

@media (min-width: 1000px) {
    

/** ---------- SECTION 0 START ---------- */

#section0 {
    display: grid;
    background-image: url(images/splashimage.jpg);
    background-size: cover;
    background-position: 50%;
    height: 100vh;
    align-items: center;
    justify-items: center;
}

#section0 h1{
    font-size: 3rem;
    background-color: #961818;
    color: white;
    border: solid #961818 50px;
    border-radius: 15px 15px 15px 15px;
     font-family: 'Anton', sans-serif;
}






/** ---------- SECTION 0 END ---------- */

/** ---------- SECTION 1 START ---------- */

#section1 {
    position: relative;

    width: 100%;
    height: 100%;
}

#imagegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0%;
    grid-template-rows: 1fr 1fr 1fr;
}

#headingtext {
    position: sticky;
    grid-row: 1/2;
    grid-column: 2/3;
    top: 0px;
    left: 50%;
    width: 100%;
    height: 100vh;
    background-color: #E8AB3A;
    object-fit: contain;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
    justify-content: center;
    flex-direction: column;
  
}


#headingtext h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #F2F2F2;
    letter-spacing: 10px;
    
}

#headingtext p {
    text-align: center;
    font-size: 2rem;
    padding-inline: 5%;
    color: #F2F2F2;
    grid-row: 4/5;
}

#image1, #image2, #image3{
    grid-column: 1/2;
 
}

#image1 {
    background-image: url(https://picsum.photos/1920/1080?random=1);
    background-size: cover;
    background-position: 50%;
}
#image2 {
    background-image: url(https://picsum.photos/1920/1080?random=2);
    background-size: cover;
    background-position: 50%;
}
#image3 {
    background-image: url(https://picsum.photos/1920/1080?random=3);
    background-size: cover;
    background-position: 50%;
}

#image1, #text1{
    grid-row: 1/2;
}
#image2, #text2{
    grid-row: 2/3;
}
#image3, #text3{
    grid-row: 3/4;
}


#text1, #text2, #text3 {
    grid-column: 2/3;
}

.displaynone {
    display: none;
}

#h2flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -50px;
    grid-row: 2/3;
}

/* #heading1 {
   grid-row: 1/2; 
   grid-column: 1/2;
   margin-right: 250px;
}
#heading2 {
    grid-row: 1/2; 
    grid-column: 1/2;
    margin-left: 275px;
} */
#heading3 {
    grid-row: 3/4; 

}


/** ---------- SECTION 1 END ---------- */

/** ---------- SECTION 2 START ---------- */

#section2 {
    background-color: #F24C3D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 5% 2%;
    gap: 25px;
    
}

#youtube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
iframe{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    /* border: 35px #9C1919 solid; */
    border-radius: 25px 25px 25px 25px;
    -webkit-box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);
-moz-box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);
box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);
}

video{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 25px 25px 25px 25px;
    -webkit-box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);
    -moz-box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);
    box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);

}

/** ---------- SECTION 2 END ---------- */

/** ---------- FOOTER START ----------*/

footer{
    width: auto;
    height: 250px;
    background-color: #b5cbe8;
    margin: auto;
    display: grid;
}

footer h1{
    display: flex;
    justify-content: center;
    margin: auto;
    height: auto;
    width: auto;
    color: white;
    font-family: 'Annie Use Your Telescope', cursive;
}
/** ---------- FOOTER END ----------*/


} 
/** -------------------- DESKTOP VIEW END -------------------- */


/** -------------------- MOBILE VIEW START -------------------- */

@media (max-width:999px) {
    
/** ---------- SECTION 0 START ---------- */

#section0 {
    display: grid;
    background-image: url(images/splashimage.jpg);
    background-size: cover;
    background-position: 50%;
    height: 600px;
    align-items: center;
    justify-items: center;
}

#section0 h1{
    font-size: 1.6rem;
    background-color: #961818;
    color: white;
    border: solid #961818 40px;
    border-radius: 15px 15px 15px 15px;
     font-family: 'Anton', sans-serif;
}




/** ---------- SECTION 0 END ---------- */

/** ---------- SECTION 1 START ---------- */

#section1 {
    position: relative;
    width: 100%;
    height: auto;
}

#imagegrid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0%;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
}


#image1 {
    background-image: url(https://picsum.photos/1920/1080?random=1);
    background-size: cover;
    background-position: 50%;
    height: 600px;
}
#image2 {
    background-image: url(https://picsum.photos/1920/1080?random=2);
    background-size: cover;
    background-position: 50%;
    height: 600px;
}
#image3 {
    background-image: url(https://picsum.photos/1920/1080?random=3);
    background-size: cover;
    background-position: 50%;
    height: 600px;
}

#text1, #text2, #text3 {
    display: none;
}


#headingtext {
    position: sticky;
    grid-row: 1/2;
    top: 0px;
    left: 50%;
    width: 100%;
    height: 150px;
    background-color: #E8AB3A;
    object-fit: contain;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    flex-direction: column;
  
}

#h2flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    grid-row: 1/2;
}

#headingtext h2 {
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #F2F2F2;
    letter-spacing: 8px;
    margin-bottom: -10px;
}

#headingtext p {
    text-align: center;
    font-size: 1.2rem;
    padding-inline: 5%;
    color: #F2F2F2;
    grid-row: 3/4;
}

#heading3{
    grid-row: 2/3;
}

/** ---------- SECTION 1 END ---------- */

/** ---------- SECTION 2 START ---------- */

#section2 {
    background-color: #F24C3D;
    display: grid;
    gap: 20px;
    place-content: center;
    grid-template-rows: 1fr 1fr;
    padding: 3%;
}

#section2 iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 25px 25px 25px 25px;
    -webkit-box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);
-moz-box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);
box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);
}

video{
  width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 25px 25px 25px 25px;
    -webkit-box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);
-moz-box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);
box-shadow: 8px 8px 13px -7px rgba(21, 21, 24, 1);
}

 .displaynone {
    display: none;
}
/** ---------- SECTION 2 END ---------- */


/** ---------- FOOTER START ----------*/

footer{
    width: auto;
    height: 250px;
    background-color: #b5cbe8;
    margin: auto;
    display: grid;
}

footer h1{
    display: flex;
    justify-content: center;
    margin: auto;
    height: auto;
    width: auto;
    color: white;
    font-family: 'Annie Use Your Telescope', cursive;
}
/** ---------- FOOTER END ----------*/




}